 @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/*  #010403
 #25ab6c */

.app {
    height: 100%;
    width: 100%;
    display: flex;
     justify-content: center;
/*     align-items: center; */
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(187, 238, 187);
    /* background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,41,35,1)), color-stop(3%, rgba(23,48,28,1)), color-stop(99%, rgba(10,9,9,1)), color-stop(100%, rgba(3,3,3,1)));
    background: -webkit-linear-gradient(left, rgba(35,41,35,1) 0%, rgba(23,48,28,1) 3%, rgba(10,9,9,1) 99%, rgba(3,3,3,1) 100%);
    */
    background-image: url("./assets/Fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1{
    color: #1cf02e;
}

.chronometer  {
    height: 40px;
    width:auto;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 4px solid rgb(194, 236, 210);
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.chronometer > h2{
    font-family: 'Electrolize', sans-serif; 
    font-size: 50px;
    color: rgb(103, 165, 61);
}

.container-preguntas-respuestas{
    display: flex;
    flex-direction:row;
    width: 98%;
    height: 100%;
    margin: 5px ;
}

.cards-container-pregunta{
    text-align: center;
    width: 50%;
    height: 80%;
    border: 4px solid rgb(81, 141, 42);
    border-radius: 15px;
    margin: 0px 2px 2px 0;
}
.cards-container-pregunta > h1{
      color: rgb(81, 141, 42);
}
.cards-container-respuesta{
    text-align: center;
    font-size: 11px;
    width: 50%;
    height: 80%;
    border: 4px solid rgb(81, 141, 42);
    border-radius: 15px;
    margin: 0 2px 2px 0;
}
.cards-container-respuesta > h1{
    color: rgb(81, 141, 42);
}

.footer{
    text-align: center;
    color: aliceblue;  
}

.footer > button{
    font-size: 40px;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    background-color: rgb(78, 148, 31);
    border: none;
    }
.footer > button:hover{
    background-color: #12482f;
    color: #25ab6c;
    cursor: pointer;
}
.footer > h2{
    font-family: 'Electrolize', sans-serif; 
    font-size: 60px;
    color: rgb(27, 62, 4);
    margin: 0 2px 2px 0;
}
